<main class="min-h-screen flex flex-col bg-base-100">

  <!-- Header -->
  <app-toolbar class="sticky top-0 z-50 shadow-md"></app-toolbar>

  <!-- Cuerpo -->
  <div class="flex flex-1">

    <!-- Sidebar -->
    <app-sidebar class="hidden md:block w-64 flex-shrink-0"></app-sidebar>

    <!-- Contenido -->
    <section class="flex-1 overflow-y-auto p-6">
      <router-outlet></router-outlet>
    </section>

  </div>

  <!-- Footer SIEMPRE al final -->
  <app-footer class="mt-auto"></app-footer>
</main>
